<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
  <body>
    <!-- Navber Part -->
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col col-md-4">
                    <h1 id="logo">Spread the red</h1>
                </div>
                <div class="col col-md-8">
                    <ul id="menu" class="float-md-end">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Doner</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Admin login</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="banner" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-title">
                        <h1 class="title">Some Heading Goes Here</h1>
                        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates rerum debitis blanditiis voluptatem earum eos ad dolor nesciunt maiores ab Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, veritatis molestiae. Distinctio impedit eveniet perferendis alias, quidem corporis velit eaque mollitia autem quod? Laudantium nemo, consequatur nostrum quasi placeat repudiandae corrupti, reprehenderit ex accusantium et ratione itaque assumenda corporis quas consequuntur sit voluptatem, pariatur quibusdam? Voluptatum, reiciendis labore! Atque, odit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>