.container-fluid{
    border: 2px solid black;
}
.row{
    border: 4px solid pink;
}
.col{
    border: 4px solid rgb(90, 123, 40);
}
.pink{
    background-color: pink;
    border: 2px solid black;
}
.red{
    background-color: blue;
    border: 2px solid black;
}
.yellow{
    background-color: yellow;
    border: 2px solid black;
}
.blueviolet{
    background-color: blueviolet;
    border: 2px solid black;
}
.yellowgreen{
    background-color: yellowgreen;
    border: 2px solid black;
}
.cyan{
    background-color: cyan;
    border: 2px solid black;
}
.orange{
    background-color: orange;
    border: 2px solid black;
}